@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.Toastify__toast-body {
    display: flex !important;
    align-items: center !important;
    gap: 8px;
    margin-right: auto;
}

.Toastify__close-button {
    position: static !important;
}

.Toastify__close-button {
    position: static !important;
    align-self: center !important;
    padding: 0 !important;
    top: unset !important;
    right: unset !important;
    width: auto !important;
    height: auto !important;
}